obj
bin
Obj/*
obj/*
Bin/*
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
.DS_Store
*/obj
*/Obj
*/obj/*
*/Obj/*
*/bin
*/Bin
*/bin/*
*/Bin/*
*\obj
*\Obj
*\bin
*\Bin
